<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin-layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<th:block th:fragment="paging">
		<input type="hidden" id="currentPage" name="currentPage"
			th:value="${dataList.page.page}" />
		<nav class="d-flex justify-content-between pt-2"
			th:if="${dataList.page.totalElements>0}" aria-label="Sayfalama">
			<ul class="pagination">
				<li class="page-item"
					th:id="${dataList.page.page == 0 ? dataList.page.totalPages-1 : dataList.page.page-1}"><i
					class="czi-arrow-left mr-2"></i>Geri</li>
			</ul>
			<ul class="pagination">
				<li class="page-item d-sm-none"><span
					class="page-link page-link-static" th:inline="text">[[${dataList.page.page
						+ 1}]] / [[${dataList.page.totalPages}]]</span></li>
				<th:block
					th:each="pageInd: ${#numbers.sequence(0,dataList.page.totalPages-1)}">
					<li class="page-item d-none d-sm-block" th:id="${pageInd}"
						th:classappend="${pageInd == dataList.page.page ? 'active' : ''}"
						aria-current="page"><span class="page-link" th:inline="text">[[${pageInd
							+ 1}]]<span class="sr-only"
							th:if="${pageInd == dataList.page.page}">(current)</span>
					</span></li>
				</th:block>
			</ul>
			<ul class="pagination">
				<li class="page-item"
					th:id="${(dataList.page.page == dataList.page.totalPages-1) ? 0 : dataList.page.page+1}">İleri<i
					class="czi-arrow-right ml-2"></i></li>
			</ul>
		</nav>
	</th:block>
</body>
</html>