<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/png">
<!-- Google font-->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800"
	rel="stylesheet">
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css"
	th:href="@{/admin/files/bower_components/bootstrap/dist/css/bootstrap.min.css}">
	<!-- pnotify css -->
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/pnotify/dist/pnotify.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/pnotify/dist/pnotify.brighttheme.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/pnotify/dist/pnotify.buttons.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/pnotify/dist/pnotify.history.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/pnotify/dist/pnotify.mobile.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/admin/files/assets/pages/pnotify/notify.css}">
<!-- Style.css -->
<link rel="stylesheet" type="text/css"
	th:href="@{/admin/files/assets/css/style.css}">
<script type="text/javascript"
	th:src="@{/admin/files/bower_components/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/admin/files/bower_components/jquery-ui/jquery-ui.min.js}"></script>
</head>
<body class="">
	<!-- Pre-loader start -->
	<div class="theme-loader">
		<div class="ball-scale">
			<div class='contain'>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
				<div class="ring">
					<div class="frame"></div>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="content" style="flex: 1 0 auto;"></div>

	<!-- Warning Section Starts -->
	<!-- Older IE warning message -->
	<!--[if lt IE 10]>
	<div class="ie-warning">
	    <h1>Warning!!</h1>
	    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
	    <div class="iew-container">
	        <ul class="iew-download">
	            <li>
	                <a href="http://www.google.com/chrome/">
	                    <img th:src="@{/admin/files/assets/images/browser/chrome.png}" alt="Chrome">
	                    <div>Chrome</div>
	                </a>
	            </li>
	            <li>
	                <a href="https://www.mozilla.org/en-US/firefox/new/">
	                    <img th:src="@{/admin/files/assets/images/browser/firefox.png}" alt="Firefox">
	                    <div>Firefox</div>
	                </a>
	            </li>
	            <li>
	                <a href="http://www.opera.com">
	                    <img th:src="@{/admin/files/assets/images/browser/opera.png}" alt="Opera">
	                    <div>Opera</div>
	                </a>
	            </li>
	            <li>
	                <a href="https://www.apple.com/safari/">
	                    <img th:src="@{/admin/files/assets/images/browser/safari.png}" alt="Safari">
	                    <div>Safari</div>
	                </a>
	            </li>
	            <li>
	                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
	                    <img th:src="@{/admin/files/assets/images/browser/ie.png}" alt="">
	                    <div>IE (9 & above)</div>
	                </a>
	            </li>
	        </ul>
	    </div>
	    <p>Sorry for the inconvenience!</p>
	</div>
	<![endif]-->
	<!-- Required Jquery -->

	<script type="text/javascript"
		th:src="@{/admin/files/bower_components/popper.js/dist/umd/popper.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/admin/files/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- jquery slimscroll js -->
	<script type="text/javascript"
		th:src="@{/admin/files/bower_components/jquery-slimscroll/jquery.slimscroll.js}"></script>
	<!-- modernizr js -->
	<script type="text/javascript"
		th:src="@{/admin/files/bower_components/modernizr/modernizr.js}"></script>
	<script type="text/javascript"
		th:src="@{/admin/files/bower_components/modernizr/feature-detects/css-scrollbars.js}"></script>
	<!-- pnotify js -->
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.desktop.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.buttons.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.confirm.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.callbacks.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.animate.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.history.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.mobile.js}"></script>
	<script type="text/javascript" th:src="@{/admin/files/bower_components/pnotify/dist/pnotify.nonblock.js}"></script>
	<!-- Custom js -->
	<script th:src="@{/js/base.js}"></script>
		<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"
		type="text/javascript"></script>
			<script th:src="@{/js/jquery.serializejson.min.js}"></script>
		<script
		src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <script type="text/javascript" th:src="@{/admin/files/assets/js/common-pages.js}"></script>

</body>
</html>