<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title>Adminty - Premium Admin Template by Colorlib</title>
    <meta name="description" content="Flat able 404 Error page design">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Codedthemes">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" th:href="@{/admin/files/bower_components/404/css/style.css}" />
</head>

<body>

	<div layout:fragment="content">
		
	</div>

    <script th:src="@{/admin/files/bower_components/404/js/jquery.min.js}"></script>
    <script th:src="@{/admin/files/bower_components/404/js/bootstrap.min.js}"></script>

</body>

</html>