<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>

	<!-- [ navigation menu ] start -->
	<nav th:fragment="nav" class="navbar header-navbar pcoded-header" style="padding:0px;">
		<div class="navbar-wrapper">

			<div class="navbar-logo">
				<a class="mobile-menu" id="mobile-collapse"> <i
					class="feather icon-menu"></i>
				</a> <a href="/" style="font-size:20px">
					<strong>CVPOOL</strong>
				</a> <a class="mobile-options"> <i
					class="feather icon-more-horizontal"></i>
				</a>
			</div>

			<div class="navbar-container">
				<ul class="nav-left">
					<li><a onclick="javascript:toggleFullScreen()">
							<i class="feather icon-maximize full-screen"></i>
					</a></li>
				</ul>
				<ul class="nav-right">
					<li class="user-profile header-notification">
						<div class="dropdown-primary dropdown">
							<div class="dropdown-toggle" data-toggle="dropdown">
								<span th:text="${#strings.toUpperCase(userInfo.firstName) + ' ' + #strings.toUpperCase(userInfo.lastName)} + ' (Yönetici) '"></span><i class="feather icon-chevron-down"></i>
							</div>
							<ul class="show-notification profile-notification dropdown-menu"
								data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
								
								<li><a href="/cikis-yap"> <i
										class="feather icon-log-out"></i> Çıkış Yap
								</a></li>
							</ul>

						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
</body>
</html>