<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- Content  -->
	<div layout:fragment="content" class="pcoded-content">
		<div class="pcoded-inner-content">
			<div class="main-body">
				<div class="page-wrapper">
					<div class="page-body">
						<h4>Kullanıcılar</h4>
						<div class="card">
							<div class="card-header">
								<div th:replace="users/filter-bar :: filter-bar"></div>
							</div>
							<div class="card-block">
								<div class="table-responsive"
									th:if="${dataList.data != null and dataList.data.size() > 0}">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>Ad Soyad</th>
												<th>ID</th>
												<th>Üyelik Tarihi</th>
												<th>E-posta Adresi</th>
												<th>Telefon No</th>
												<th>Kayıt Tipi</th>
												<th>Durumu</th>
												<th>İşlemler</th>
											</tr>
										</thead>
										<tbody>
											<th:block th:each="user, userInd : ${dataList.data}">
												<tr>
													<td scope="row"
														th:text="${#strings.toUpperCase(user.firstName) + ' ' + #strings.toUpperCase(user.lastName)}"></td>
													<td th:text="${user.identifier}"></td>
													<td
														th:text="${#strings.substring(user.createDate,8,10) +'.'+ #strings.substring(user.createDate,5,7) +'.'+ #strings.substring(user.createDate,0,4)}"></td>
													<td th:text="${user.email}"></td>
													<td th:inline="text">0<span class="phone-number">[[${user.phoneNumber}]]</span></td>
													<td th:text="${user.channel}"></td>
													<td class="font-size-sm"><span
														class="badge badge-pill badge-success"
														th:if="${user.status.name() == 'ACTIVE'}">Aktif</span> <span
														class="badge badge-pill badge-primary"
														th:if="${user.status.name() == 'DELETED'}">Silindi</span><span
														class="badge badge-pill badge-warning"
														th:if="${user.status.name() == 'PASSIVE'}">Pasif</span></td>
													<td><div class="btn-group dropleft">
															<button type="button"
																class="btn btn-outline-secondary btn-sm dropdown-toggle"
																data-toggle="dropdown" aria-haspopup="true"
																aria-expanded="false">İşlemler</button>

															<div class="dropdown-menu">
																<a href="#" th:data-id="${user.identifier}"
																	class="open-user-form dropdown-item mr-2 cp"><i
																	class="text-info mr-2"></i>Düzenle</a><a
																	th:href="'/admin/ilanlar?userId=' + ${user.identifier}"
																	class="dropdown-item mr-2 cp"><i
																	class="text-info mr-2"></i>Kullanıcının İlanları</a> 
															</div>
														</div></td>
												</tr>
											</th:block>
										</tbody>
									</table>
								</div>
								<div th:replace="common/no-data-found :: no-data-found"></div>
							</div>
						</div>

						<div th:replace="common/paging :: paging"></div>

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="mdl-new-record-form" tabindex="-1"
			role="dialog">
			<div class="modal-dialog" role="document">
				<form id="user-form" action="users/"></form>
			</div>
		</div>

		<script type="text/javascript">
			$(document)
					.ready(
							function() {
								fillFilterForm();
								$('.page-item').click(function() {
									$("#currentPage").val($(this).attr('id'));
									loadUsers();
								});
								$(document).on('click', '.filter-results',
										(function() {
											$("#currentPage").val(0);
											loadUsers();
										}));

								$(document)
										.on(
												'click',
												'.open-user-form',
												(function() {
													var url = 'admin/kullanici';
													if (!isEmpty($(this).data(
															"id"))) {
														url += '?id='
																+ $(this).data(
																		"id");
													}
													ajaxPageCall(
															url,
															function(response) {
																$("#user-form")
																		.html(
																				response);
																$(
																		".phone-number")
																		.mask(
																				'(000) 000-0000');
																$(
																		'.phone-number')
																		.on(
																				'keyup',
																				function() {
																					var phoneNumber = $(
																							this)
																							.val()
																							.replaceAll(
																									" ",
																									"")
																							.replaceAll(
																									"-",
																									"")
																							.replaceAll(
																									"(",
																									"")
																							.replaceAll(
																									")",
																									"");
																					$(
																							"#phoneNumber")
																							.val(
																									phoneNumber);
																				});
																$(
																		"#mdl-new-record-form")
																		.modal(
																				'show');
															},
															function(error) {
																showErrorMsg(error);
															});
												}));

								$('#user-form')
										.validate(
												{
													rules : {
														firstName : "required",
														lastName : "required",
														email : {
															required : true,
															email : true
														},
														password : {
															required : true,
															minlength : 5
														},
														formattedPhoneNumber : {
															required : true,
															minlength : 14,
															maxlength : 14
														},
														status : {
															valueNotEquals : "0"
														},
													},
													// Specify validation error messages
													messages : {
														firstName : "Adınızı girin.",
														lastName : "Soyadınız girin.",
														password : {
															required : "Şifrenizi girin.",
															minlength : "Şifreniz en az 6 olmalı."
														},
														email : "Geçerli bir e-posta adresi girin.",
														formattedPhoneNumber : {
															required : "Telefon numarası girin.",
															minlength : "Telefon numarası 10 hane olmalı.",
															maxlength : "Telefon numarası 10 hane olmalı."
														},
														status : {
															valueNotEquals : "Statü seçin."
														},
													},
													// JQuery's awesome submit handler.
													submitHandler : function(
															form) {
														if ($(
																"form #action_type")
																.val() == 'UPDATE') {
															ajaxJsonPut(
																	$(form)
																			.attr(
																					"action")
																			+ $(
																					"form #identifier")
																					.val(),
																	JSON
																			.stringify($(
																					form)
																					.serializeJSON()),
																	function(
																			response) {
																		showSuccessMsg(messages.ADMIN_UPDATE_SUCCESS);
																		window.location.href = 'kullanicilar';
																	},
																	function(
																			error) {
																		showErrorMsg(error);
																		return false;
																	});
														} else {
															ajaxJsonPost(
																	$(form)
																			.attr(
																					"action"),
																	JSON
																			.stringify($(
																					form)
																					.serializeJSON()),
																	function(
																			response) {
																		showSuccessMsg(messages.ADMIN_ADD_SUCCESS);
																		window.location.href = 'kullanicilar';
																	},
																	function(
																			error) {
																		showErrorMsg(error);
																		return false;
																	});
														}
													}
												})

							});

			function fillFilterForm() {
				var searchParams = new URLSearchParams(window.location.search);
				$("#filter_identifier").val($.trim(searchParams.get('id')));
				$("#filter_firstName").val(
						$.trim(searchParams.get('firstName')));
				$("#filter_lastName").val($.trim(searchParams.get('lastName')));
				$("#filter_phoneNumber").val(
						$.trim(searchParams.get('phoneNumber')));
				$("#filter_email").val($.trim(searchParams.get('email')));
				$("#filter_status").val(searchParams.get('status'));
			}

			function loadUsers() {
				var url = window.location.href.split('?')[0];
				var urlParams = [];
				urlParams.push("page=" + $("#currentPage").val());
				if ($.trim($("#filter_identifier").val()) != '') {
					urlParams.push("id="
							+ $.trim($("#filter_identifier").val()));
				}
				if ($("#filter_status").val() != '') {
					urlParams.push("status=" + $("#filter_status").val());
				}
				if ($.trim($("#filter_firstName").val()) != '') {
					urlParams.push("firstName="
							+ $.trim($("#filter_firstName").val()));
				}
				if ($.trim($("#filter_lastName").val()) != '') {
					urlParams.push("lastName="
							+ $.trim($("#filter_lastName").val()));
				}
				if ($.trim($("#filter_phoneNumber").val()) != '') {
					urlParams.push("phoneNumber="
							+ $.trim($("#filter_phoneNumber").val()));
				}
				if ($.trim($("#filter_email").val()) != '') {
					urlParams.push("email=" + $.trim($("#filter_email").val()));
				}
				var query = urlParams.map(function(value) {
					return value;
				}).join('&');
				window.location.replace(url + "?" + query);
			}
		</script>
	</div>
</body>
</html>